.button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 8px;
    gap: 8px;
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: bold;
    cursor: pointer;
    transition:  0.2s;
}

.button:hover{
    background-color: var(--blue);
}